body {
  margin: 0;
}

#questionOne, #questionTwo, #questionThree, #questionFour, #questionFive, #questionSix, #rails, #drupal, #android, #design, #net, #undecided {
  display: none;
}

#intro, #questionOne, #questionTwo, #questionThree, #questionFour, #questionFive, #questionSix {
  padding: 1px 20px;
  text-align: center;
  margin-top: 30vh;
}

#intro p {
  font-size: 1.5em;
}

label {
  font-size: 1.5em;
}
label:hover {
  background-color: lightgrey;
}
